# Introducción a Python

## Índice
1. [Introducción a Jupyter Notebook](#intro)
2. [Expresiones booleanas](#bool)
3. [Operadores lógicos](#oplog)
4. [Ejecución condicional: if, elif](#ifs)
5. [Captura de excepciones](#excep)
6. [Funciones](#func)
7. [Iteraciones: bucles for](#for)
8. [Listas](#listas)
9. [Diccionarios](#dicc)
10. [Pandas DataFrames](#pandas)

<a id="book"></a>
## Introducción a Jupyter Notebook

In [7]:
print ('Hola a todos')

Hola a todos

In [8]:
print ('Bienvenidos')

Bienvenidos

Esta es una celda de tipo Markdown para introducir texto

In [9]:
# Para introducir comentarios
print ('Celda con comentarios')

Celda con comentarios

In [10]:
x = 5

In [11]:
x + 4

9

Puedes ver los atajos de teclado en Help > Keyboard shortcuts desde la barra de herramientas

<a id="book"></a>
## Expresiones booleanas

Pueden ser verdaderas (`True`) o falsas (`False`)  
Operadores de comparación: 
* igual: `==` ó `is`  
* distinto de: `!=` ó `is not`   
* mayor: `>`  
* menor: `<`  
* mayor o igual: `>=`  
* menor o igual `<=`

In [12]:
5==5

True

In [13]:
5 != 5

False

<a id="oplog"></a>
## Operadores lógicos

`and`, `or` y `not`

In [20]:
x = 10

In [21]:
x > 0 and x < 10

False

In [22]:
x > 0 and not x < 10

True

<a id="ifs"></a>
##  Ejecución condicional: if, elif

La sentencia `if` finaliza con dos puntos y si hay saltos de línea, el bloque debe estar indentado

In [23]:
if x>5 and x<10:
    print ("aprobado")
elif x==10:
    print("Matrícula")
    print("Ole!")
else: print("Suspenso")

Matrícula
Ole!

<a id="excep"></a>
## Captura de excepciones

Si se sabe que cierta secuencia de instrucciones puede generar un problema, es posible añadir sentencias para que se ejecuten en caso de error, por ejemplo `try` y `except`

In [26]:
entrada = input('Introduzca la temperatura en Fahrenheit: ')

try:
    fahrenheit = float(entrada)
    celsius = (fahrenheit-32)*5/9
    print(celsius)
except:
    print ("Por favor, escribe un número")

Introduzca la temperatura en Fahrenheit:  noventa

Escribe un número

<a id="func"></a>
## Funciones

Una función recibe argumentos y devuelve resultados
* Funciones internas: `max`, `min`, `len`...
* Funciones de conversión de tipos: `int('32')`, `float(32)`, `str(32)`...
* Funciones matemáticas (hay que importar el módulo `math`): `math.log10(20)`, `math.sin(90)`...

Crear nuevas funciones:

In [27]:
def mi_exponencial(numero, exponente, cte):
    exp = (numero**exponente)-cte
    return (exp)

Llamada a la función

In [28]:
mi_exponencial(3,2,1)

8

<a id="for"></a>
## Iteraciones: bucles for

En el siguiente ejemplo, la variable `amigos` es una lista de tres strings y el bucle `for` recorre esta lista, utilizando la variable de iteración `amigo`, que cambia en cada ejecución del bucle

In [29]:
amigos = ['Juan', 'Luis', 'Ana']
for amigo in amigos:
    print ("Hola", amigo)

Hola Juan
Hola Luis
Hola Ana

Para recorrer un rango de números, podemos usar la función `range()`

In [31]:
for k in range(4,10,2):
    print (k)

4
6
8

<a id="while"></a>
## Bucles while

In [33]:
n = 3
while n>0:
    print(n)
    n = n-1
print ("Acción!")

3
Acción!

Puede usarse la sentencia `break` para salir del bucle cuando se desee.  
Para saltar de una iteración a otra puede utilizarse la sentencia `continue`

<a id="listas"></a>
## Listas

Una lista es una secuencia de valores, que pueden ser de cualquier tipo

In [34]:
l1 = [10,20,30,40]
l2 = ['uno','dos','tres']
l3 = ['Hola', 2.3, 5, [10,20]]

El operador corchete permite acceder a los elementos de una lista (los índices comienzan por 0)

In [35]:
l1[0]

10

In [36]:
l3[3]

[10, 20]

In [37]:
l3[3][0]

10

In [38]:
l3[0:2]

['Hola', 2.3]

La función `len` nos da la longitud de una lista

In [39]:
len(l3)

4

Para añadir un elemento a una lista utilizamos la función `append()`

In [40]:
l3.append(20)

In [41]:
len(l3)

5

<a id="dicc"></a>
## Diccionarios

Son similares a una lista, pero más genéricos, ya que los índices pueden ser de cualquier tipo. Los diccionarios son asignaciones entre **claves** y **valores**

In [42]:
equipo = {'rafa':'Cientifico',
         'pedro':'Arquitecto',
         'javier':'Ingeniero',
         'Antonio':'director'}

Para acceder a un elemento de un diccionario lo hago a través de su clave

In [43]:
equipo['rafa']

'Cientifico'

In [44]:
Temperaturas = {'May':19, 'Ene':1, 'Feb':7.1}

In [46]:
Temperaturas['May']

19

Para iterar sobre un diccionario:

In [48]:
for key,value in equipo.items():
    print(key, '-', value)

rafa - Cientifico
pedro - Arquitecto
javier - Ingeniero
Antonio - director

In [49]:
for k,v in Temperaturas.items():
    print (k,'-',v)

May - 19
Ene - 1
Feb - 7.1

<a id="pandas"></a>
## Pandas DataFrames

Pandas es una librería que permite operar con tablas, denominadas dataframes.  
Para instalarlo, desde el prompt de anaconda escribimos: `conda install -c anaconda pandas` desde nuestro environment

In [51]:
# Importar una librería
import pandas as pd

Podemos crear una dataframe de diversas formas

In [53]:
# Con listas de listas
data = [['julio',30], ['julio2',20],['julio3',40]]
df = pd.DataFrame(data, columns=['Nombre', 'Edad'])
df

   Nombre  Edad
0   julio    30
1  julio2    20
2  julio3    40

In [55]:
# Con diccionarios de listas
data = {'Nombre':['asfa','asfa','sdfsdg'], 'edad':[1,2,3]}
df = pd.DataFrame(data, columns=['Nombre', 'edad'])
df

   Nombre  edad
0    asfa     1
1    asfa     2
2  sdfsdg     3

Cargamos un dataframe de la librería sklearn:  
`conda install -c anaconda seaborn`

In [56]:
import seaborn as sns
iris = sns.load_dataset('iris')

In [57]:
# La función head()muestra las primeras 5 filas del dataframe
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [58]:
# Para conocer el tamaño del dataframe utilizamos shape
iris.shape

(150, 5)

In [60]:
# Para seleccionar columnas podemos utilizar corchetes 
iris2=iris[['petal_length','species']]
iris2.head()

   petal_length species
0           1.4  setosa
1           1.4  setosa
2           1.3  setosa
3           1.5  setosa
4           1.4  setosa

In [62]:
# Para agrupar usamos groupby. Por ejemplo, hacer la media de las variables para cada especie
pl_specie = iris.groupby('species', as_index=False).agg('mean')
pl_specie

      species  sepal_length  sepal_width  petal_length  petal_width
0      setosa         5.006        3.428         1.462        0.246
1  versicolor         5.936        2.770         4.260        1.326
2   virginica         6.588        2.974         5.552        2.026

In [63]:
# Para sleccionar filas y columnas podemos usar iloc. Por ejemplo, seleccionar las 10 primeras filas
iris.iloc[15:21]

    sepal_length  sepal_width  petal_length  petal_width species
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa

In [67]:
# Para filtar tablas podemos usar loc. Por ejemplo, filtrar flores con longitudes de pétalo mayores que 6
iris.loc[iris.petal_length>6]
#Mismo resultado
iris.loc[iris['petal_length']>6]

     sepal_length  sepal_width  petal_length  petal_width    species
105           7.6          3.0           6.6          2.1  virginica
107           7.3          2.9           6.3          1.8  virginica
109           7.2          3.6           6.1          2.5  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
122           7.7          2.8           6.7          2.0  virginica
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica

In [68]:
# Para ordenar por columnas utilizamos la función sort_values
iris.sort_values('petal_width', ascending=False)

     sepal_length  sepal_width  petal_length  petal_width    species
100           6.3          3.3           6.0          2.5  virginica
109           7.2          3.6           6.1          2.5  virginica
144           6.7          3.3           5.7          2.5  virginica
114           5.8          2.8           5.1          2.4  virginica
140           6.7          3.1           5.6          2.4  virginica
..            ...          ...           ...          ...        ...
12            4.8          3.0           1.4          0.1     setosa
13            4.3          3.0           1.1          0.1     setosa
37            4.9          3.6           1.4          0.1     setosa
32            5.2          4.1           1.5          0.1     setosa
9             4.9          3.1           1.5          0.1     setosa

[150 rows x 5 columns]

In [70]:
# Podemos hacer operaciones sobre columnas. Por ejemplo, creamos una nueva que sea la longitud del pétalo por su anchura
iris['petal_lw'] = iris.petal_length * iris.petal_width
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species  petal_lw
0           5.1          3.5           1.4          0.2  setosa      0.28
1           4.9          3.0           1.4          0.2  setosa      0.28
2           4.7          3.2           1.3          0.2  setosa      0.26
3           4.6          3.1           1.5          0.2  setosa      0.30
4           5.0          3.6           1.4          0.2  setosa      0.28

In [71]:
iris.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [72]:
iris.species.value_counts()

versicolor    50
setosa        50
virginica     50
Name: species, dtype: int64