# Aritmética básica

In [1]:
8/3

2.6666666666666665

In [2]:
23 % 5 #da el resto de la división

3

In [3]:
23 // 5 #da el cociente de la división

4

In [4]:
2 * 6

12

In [5]:
2 ** 3

8

In [6]:
3 + 2

5

In [7]:
a = 27
a

27

In [8]:
a /= 9
a

3.0

In [9]:
a += 5

In [10]:
a

8.0

In [11]:
3 / 5

0.6

In [12]:
42 / 6.0

7.0

In [13]:
42 / 6

7.0

# Sentencias Lógicas

In [14]:
x = 3

In [15]:
x < 3

False

In [17]:
True

True

In [18]:
False

False

In [20]:
x <= 3

True

In [21]:
x == 4

False

In [22]:
x != 4

True

In [23]:
x == 4 and x > 2

False

In [24]:
False and True

False

In [25]:
False or True

True

In [27]:
not True

False

In [28]:
not (False or True)

False

In [26]:
x == 4  or x > 2

True

In [ ]:
not x==4 and x>2

In [ ]:
not x==4 or x>2

In [ ]:
(2 * x) == (x ** 2)

In [29]:
'ab' in 'abc'

True

In [30]:
'ab' not in 'abc'

False

# Bifurcaciones, bucles

In [32]:
if 1<x<5:
    print('sí')
else:
    print('no')

sí

In [33]:
if x==4:
    print('igual')
elif x>4:
    print('mayor')
elif x=='abc':
    print('qwe')
else:
    print('menor')

menor

In [34]:
c = 10

for k in [1,2,3]:
    print(k + c)

11
12
13

In [35]:
lista = ['pan y tomate','leche y galletas','cereales y ginebra']

for k,s in enumerate(lista):
    print(k, s)

0 pan y tomate
1 leche y galletas
2 cereales y ginebra

In [37]:
for k,s in enumerate(lista):
    for i in s.split(' y '):
        print(k,i)

0 pan
0 tomate
1 leche
1 galletas
2 cereales
2 ginebra

In [38]:
for k,s in enumerate(lista):
    for i in s.split(' y '):
        if i=='galletas':
            break 
        print(k,i)

0 pan
0 tomate
1 leche
2 cereales
2 ginebra

# ACTIVIDAD

¿Cómo hacer en la construcción anterior para salir de los dos bucles?

In [ ]:
#solución
a=False

for k,s in enumerate(lista):
    if a==True:
        break    
    for i in s.split(' y '):
        if i=='galletas':
            a=True
            break 
        print(k,i)

In [ ]:
#calculamos un factorial con un while (que sabemos tiene fin por decrecer
#en los números naturales)
c=1
n=20

while n>1:
    c*=n
    n=n-1
c

# Listas

Estructura de almacenamiento heterogéneo en forma de  secuencia

### Definición y operaciones básicas

In [39]:
l = [2,4,6,8]
l

[2, 4, 6, 8]

In [40]:
type(l)

list

In [41]:
l[3]

8

In [42]:
l[-2]

6

In [43]:
l[4]

IndexError: list index out of range

In [44]:
l.append(10)
l

[2, 4, 6, 8, 10]

In [45]:
l[4]

10

In [46]:
l.pop()
l

[2, 4, 6, 8]

In [47]:
l += [11, 123]
l

[2, 4, 6, 8, 11, 123]

### Suma de listas

In [48]:
l1 = [2, 4, 6, 8, 10]
l2 = [3, 5]
l3 = l1 + l2
l3

[2, 4, 6, 8, 10, 3, 5]

In [49]:
l3.pop() # quita la última posición

5

### Subconjuntos de la lista

In [50]:
l = [2, 4, 6, 8]
l[0:2]

[2, 4]

In [51]:
l[1:3] = [7, 7] # reasignamos valores
l

[2, 7, 7, 8]

In [52]:
l[2:]

[7, 8]

In [53]:
l *= 2
l

[2, 7, 7, 8, 2, 7, 7, 8]

In [56]:
l * 3

[2, 7, 7, 8, 2, 7, 7, 8, 2, 7, 7, 8, 2, 7, 7, 8, 2, 7, 7, 8, 2, 7, 7, 8]

In [57]:
l

[2, 7, 7, 8, 2, 7, 7, 8]

In [58]:
l[3:6]

[8, 2, 7]

In [59]:
l[-5:]

[8, 2, 7, 7, 8]

### Funciones estructurales y `lambda`

In [60]:
l = [2, 4, 2,2,10,10,10,6, 8, 10, 12]

len(l) , max(l), min(l),sum(l)

(11, 12, 2, 76)

In [61]:
l.append(5)
l

[2, 4, 2, 2, 10, 10, 10, 6, 8, 10, 12, 5]

In [62]:
l.pop()
l

[2, 4, 2, 2, 10, 10, 10, 6, 8, 10, 12]

In [63]:
l.count(10)

4

In [64]:
l.remove(10)
l

[2, 4, 2, 2, 10, 10, 6, 8, 10, 12]

In [65]:
l.remove(10)
l

[2, 4, 2, 2, 10, 6, 8, 10, 12]

In [66]:
l.reverse()
l

[12, 10, 8, 6, 10, 2, 2, 4, 2]

In [67]:
l.sort()
l

[2, 2, 2, 4, 6, 8, 10, 10, 12]

In [68]:
l.insert(5,'abc') #inserta el valor tras la posición 5
l

[2, 2, 2, 4, 6, 'abc', 8, 10, 10, 12]

In [69]:
'abc' in l, 'abc' not in l

(True, False)

Se pueden definir funciones básicas usando el comando `lambda`

In [70]:
f = lambda x:x ** 3

f(2)

8

In [71]:
g = lambda x,y:x+y

g(3,8)

11

In [72]:
g(['a',1], [5, 'b'])

['a', 1, 5, 'b']

In [73]:
h = lambda x:x.pop()

l=[1,2,3]

h(l)

3

In [74]:
l

[1, 2]

In [ ]:
l = [2, 4, 6, 8, 10, 12]
#podemos filtrar una lista, da como salida los valores True de la función filtro
list(filter(lambda x: x % 4, l))

Se puede aplicar a la lista una función usando la partícula `map`

In [ ]:
l = range(5)
list(map(lambda x: x**3, l))

In [ ]:
l

### Los tipos de datos almacenados son heterogéneos

In [75]:
l = [2, [3, 5, 6], 'naranja', 6, 'azul']
l[2]

'naranja'

In [76]:
#iteramos por la lista
for k in l:
    print(k)

2
[3, 5, 6]
naranja
6
azul

# Definiciones por comprensión

In [ ]:
#otro modo de iterar
[print(k) for k in l]

In [81]:
l

[2, [3, 5, 6], 'naranja', 6, 'azul']

In [82]:
[2 * v for v in l]

[4, [3, 5, 6, 3, 5, 6], 'naranjanaranja', 12, 'azulazul']

In [83]:
vals = [1, 2, 3, 5, 7, 9, 10]

[2 * v for v in vals if v % 5 == 0]

[10, 20]

In [92]:
names = ['pedro gonzalez', 'marisa perez', 'luis perez']

[name for name in names if 'perez' in name]

['marisa perez', 'luis perez']

In [93]:
if 'naranja' in l and 'rojo' not in l:
    print('perfecto')

perfecto

In [94]:
[[i, j] for i in l for j in l if i != j]

[[2, [3, 5, 6]],
 [2, 'naranja'],
 [2, 6],
 [2, 'azul'],
 [[3, 5, 6], 2],
 [[3, 5, 6], 'naranja'],
 [[3, 5, 6], 6],
 [[3, 5, 6], 'azul'],
 ['naranja', 2],
 ['naranja', [3, 5, 6]],
 ['naranja', 6],
 ['naranja', 'azul'],
 [6, 2],
 [6, [3, 5, 6]],
 [6, 'naranja'],
 [6, 'azul'],
 ['azul', 2],
 ['azul', [3, 5, 6]],
 ['azul', 'naranja'],
 ['azul', 6]]

In [95]:
[(x, y) for x in range(3) for y in range(x+1)]

[(0, 0), (1, 0), (1, 1), (2, 0), (2, 1), (2, 2)]

In [ ]:
#enumerate es un iterador que da como salida posición y valor
squares = [0, 1, 4, 9, 16, 25]

for i, val in enumerate(squares):
    print(i, val)

# Copiando listas en Python

<img src='tags.png'>

In [ ]:
a=[1,2,3]

b=a
b[1]=5
a,b 
#observamos que hemos afectado a la primera lista también. Esto es porque en Python las asignaciones
#son etiquetas de un mismo objeto

In [ ]:
a=[1,2,3]

b=a.copy()
b[1]=5
a,b 
#copiamos la variable y los cambios no afectan al objeto inicial

<img src='tags2.png'>

# Tuplas

Son listas pero inmutables (no se pueden modificar)

In [ ]:
p1 = ('principio', 1.2, -3.0, 17.222)
p2 = ('fin', -7.3, 0.0, -0.0001)
p1

In [ ]:
type(p1)

In [ ]:
p1[3] = 17.2

In [ ]:
p1[3]

In [ ]:
#asignaciones a variables basándonos en tuplas
type1, x1, y1, z1 = p1
type2, x2, y2, z2 = p2

x1 - x2

# Sets

In [ ]:
a=['ruso','español','americano',5,5,'ruso']
b=['americano',5,1]
set(a)

In [ ]:
type(set(a))

In [ ]:
set(a).union(b)

In [ ]:
set(a).intersection(b)

In [ ]:
5 in set(a)

In [ ]:
set(b).issubset(a)

In [ ]:
set(a).issuperset({5,'ruso'})

In [ ]:
set(a).difference(b)

In [ ]:
set(a).symmetric_difference(b)

# Strings

- `count` Return the number of non-overlapping occurrences of substring in the string.
- `endswith, startswith`  Returns True if string ends with suffix (starts with prefix).
- `join` Use string as delimiter for concatenating a sequence of other strings.
- `index` Return position of first character in substring if found in the string. Raises ValueEr
ror if not found.
- `find` Return position of first character of first occurrence of substring in the string. Like
index , but returns -1 if not found.
- `rfind` Return position of first character of last occurrence of substring in the string. Returns -1
if not found.
- `replace` Replace occurrences of string with another string.
- `strip, rstrip, lstrip` Trim whitespace, including newlines; equivalent to x.strip() (and rstrip,
 lstrip , respectively) for each element.
- `split` Break string into list of substrings using passed delimiter.
- `lower, upper` Convert alphabet characters to lowercase or uppercase, respectively.
- `ljust, rjust` Left justify or right justify, respectively. Pad opposite side of string with spaces (or some
other fill character) to return a string with a minimum width.

In [96]:
type('abc')

str

In [97]:
'abc'*2

'abcabc'

In [98]:
'abc'+'cde'

'abccde'

In [99]:
a ='abc'
a += '!!!'
a

'abc!!!'

In [102]:
st = 'mi edad es de %d años y me llamo %s' % (5, 'Guille')
st

'mi edad es de 5 años y me llamo Guille'

In [103]:
a='¡Hola, Mundo!'
print(a[1])
print(a[-1])
print(a[7:12])

H
!
Mundo

In [104]:
a.split(',') #partimos el string en componentes con el criterio

['¡Hola', ' Mundo!']

In [105]:
a.replace('a','@') #reemplazamos un valor

'¡Hol@, Mundo!'

In [106]:
a.replace(' ','_') #se pueden reemplazar espacios en blanco

'¡Hola,_Mundo!'

In [107]:
a.lstrip('¡') #quitamos la apertura exclamatoria

'Hola, Mundo!'

In [108]:
a.rstrip('!')

'¡Hola, Mundo'

In [109]:
a.lower()

'¡hola, mundo!'

In [110]:
a.upper()

'¡HOLA, MUNDO!'

In [ ]:
#separamos un string que contiene números y damos la salida en formato lista numérica
vec = '[12.4, 3, 4, 7.22]'

vec = vec.lstrip('[').rstrip(']')
print(vec)

nums = vec.split(',')
print(nums)

nums = [float(n) for n in nums]
print(nums)

# ACTIVIDAD

De la siguiente lista:
1. Extrae el título de cada elemento y crea una lista con estos, debe aparecer sin punto, como `'Mr'`.
2. Sustituye espacios, comas y puntos por guiones bajos y da la lista resultante.
3. Transforma todo en mayúsculas y da la última palabra de cada string.

In [ ]:
lista=['Braund, Mr. Owen Harris', 
       'Cumings, Mrs. John Bradley (Florence Briggs Thayer)','Heikkinen, Miss. Laina',
'Palsson, Master. Gosta Leonard', 'Uruchurtu, Don. Manuel E']

lista

### Solución:

In [ ]:
#solución

[k.split(', ')[1].split('. ')[0] for k in lista]

In [ ]:
[k.replace(', ','_').replace('. ','_').replace(' ','_') for  k in lista]

In [ ]:
[k.upper().split(' ')[-1] for  k in lista]

# Diccionarios

Dictionaries are maps from a set of keys to a set of values.
Dictionaries are also called “associative arrays”

Los diccionarios son aplicaciones de un conjunto de `keys` a un conjunto de `values`, son llamados también **arrays asociativos**.

<img src='diccionarios.png'>

In [111]:
dic = {}

In [ ]:
type(dic)

In [112]:
dic['lea'] = 'hola'
dic[12] = 90
dic['yes'] = 'no'
dic['qwe'] = 150
dic

{'yes': 'no', 12: 90, 'qwe': 150, 'lea': 'hola'}

In [113]:
{'yes': 'no', 12: 90, 'qwe': 150, 'lea': 'hola'}

{'yes': 'no', 12: 90, 'qwe': 150, 'lea': 'hola'}

In [114]:
dic[12], dic['yes']

(90, 'no')

In [115]:
del dic['qwe']
dic

{'yes': 'no', 12: 90, 'lea': 'hola'}

In [116]:
list(dic.items()) #tuplas con pares asociados

[('yes', 'no'), (12, 90), ('lea', 'hola')]

In [117]:
list(dic.keys()) #keys

['yes', 12, 'lea']

In [118]:
list(dic.values()) #values

['no', 90, 'hola']

In [119]:
[dic[k] for k in dic.keys()]

['no', 90, 'hola']

In [120]:
{'a':15, 'a':10,'b':12} #observamos qué sucede cuando hay keys duplicadas

{'a': 10, 'b': 12}

In [121]:
{'a':15, 'c':15,'b':12} #observamos qué sucede cuando hay values duplicados

{'a': 15, 'b': 12, 'c': 15}

In [ ]:
#creamos un diccionario de dos listas
x=['a','b','c','d']
y=[1,2,3,4]

dic2=dict(zip(x,y))
dic2

In [ ]:
#definimos una función basada en aplicar el diccionario
f=lambda x:dic2[x]

In [ ]:
f('a')

# ACTIVIDAD 

1. Crea una función que quite los duplicados (elementos que tienen el mismo valor) de un diccionario, quedándonos con un diccionario que selecciona la primera llave y valor para cada valor.
2. Crea una función que genere la unión de dos diccionarios

### Solución:

In [ ]:
def quitaduplicados(dic):
    result={}
    for key,value in dic.items():  
        if value not in result.values():  
            result[key] = value  
    return result

In [ ]:
dic={'a':10,'c':10,'b':15}
dic

In [ ]:
quitaduplicados(dic)

In [ ]:
def union2(dict1, dict2):
    return dict(list(dict1.items()) + list(dict2.items()))

In [ ]:
dic1={'a':5}
dic2={'b':10}
union2(dic1,dic2)