# Actividad 0: creación de DataFrame y subindexación

Nota: usar `numpy.random.seed(0)` al generar los números aleatorios en todos los procesos.


### Series
1. Genera una Series s con 5 valores aleatorios (`numpy.randn`) entre 0 y 10 e índices `{'b','d','c','a','e'}`.
2. Comprueba que `'b'` está en la serie.
3. Averigua el valor de 'b' en la serie.
4. Obtén los últimos 3 valores de la serie.
5. Halla los valores de la serie mayores que 4, averigua para qué índices se tienen. Resta 1 a cada valor de estos modificando la serie.
6. Ordena la serie según índice lexicográficamente modificándola definitivamente. Ponle nombre ' letras' a los índices.
7. Ordena la serie descendientemente según valores de la misma.
8. Obtén un diccionario a partir de la serie.
9. Guarda la serie en .csv.
10. Crea una nueva serie ss desplazando la serie dos términos en su lugar. ¿Cuántos elementos faltantes tiene?
11. Sustituye los valores faltantes por la mediana de la serie.


### SOLUCIÓN:

In [1]:
import pandas as pd
import numpy as np

np.random.seed(0)
s=pd.Series(np.random.randint(0,10,5),index=['b','d','c','a','e'])
s

b    5
d    0
c    3
a    3
e    7
dtype: int64

In [2]:
'b' in s

True

In [3]:
s['b']

5

In [4]:
s[-3:]

c    3
a    3
e    7
dtype: int64

In [5]:
s[s>=5]

b    5
e    7
dtype: int64

In [6]:
s[s>=5]+=-1
s

b    4
d    0
c    3
a    3
e    6
dtype: int64

In [7]:
s.sort_index(inplace=True)
s.index.name='Letras'
s

Letras
a    3
b    4
c    3
d    0
e    6
dtype: int64

In [8]:
s.sort_values(ascending=False)

Letras
e    6
b    4
c    3
a    3
d    0
dtype: int64

In [9]:
s.to_dict()

{'a': 3, 'b': 4, 'c': 3, 'd': 0, 'e': 6}

In [10]:
s.to_csv('serie.csv')

In [11]:
!cat serie.csv

a,3
b,4
c,3
d,0
e,6

In [12]:
ss=s.shift(2)
ss

Letras
a    NaN
b    NaN
c    3.0
d    4.0
e    3.0
dtype: float64

In [13]:
ss.isnull().sum()

2

In [14]:
ss.fillna(np.nanmedian(ss),inplace=True)
ss

Letras
a    3.0
b    3.0
c    3.0
d    4.0
e    3.0
dtype: float64

### DataFrames

1. Crea el DataFrame

        pd.DataFrame({'a': np.random.randn(7),
                'b': ['Azul', 'Rojo'] * 3+['Verde'],
                'c': np.random.randn(7)},index=list('LMXJVSD'))
2. Crea una nueva columna 'd' con valores naturales empezando en 10.
3. Obtén los tipos de las columnas.
4. Extrae:
    - Primeras 3 filas.
    - Últimas 2 filas.
    - Últimas filas desde el jueves.
    - Últimas 2 columnas.
    - Últimas 2 filas y 2 columnas.
    - Filas de miércoles a sábado de las dos primeras columnas.
    - Filas lunes y jueves con columnas b y d.
    - Filas en las que `b` es Rojo.
    - Filas en las que `b` es Rojo ó Verde y c mayor que -0.5.
    - Posiciones de la columna `a` en las que las  `b` es Rojo ó Verde ó c mayor que 1. 
    - Serie de booleanos marcando las filas en las que `a` es positivo.
    - Usa la serie anterior para obtener los valores de la columna `c` en los que se cumplen.
    
5. Cambia el nombre de las columnas a `['Valores','Color','Sesgo','Cantidad']` y pon el nombre del índice `'Días'`.
6. Crea una Series con el DataFrame.
7. Pasa los índices a columnas.
8. Pasa la columna `'Color'` al índice del DataFrame.
9. Selecciona las filas de color Azul.
10. Guarda el DataFrame en un .csv. Usa como separador `;` y como decimales `,`. No guardes el índice.

### SOLUCIÓN:

In [15]:
df = pd.DataFrame({'a': np.random.randn(7),
                'b': ['Azul', 'Rojo'] * 3+['Verde'],
                'c': np.random.randn(7)},index=list('LMXJVSD'))

df

          a      b         c
L  1.867558   Azul  1.454274
M -0.977278   Rojo  0.761038
X  0.950088   Azul  0.121675
J -0.151357   Rojo  0.443863
V -0.103219   Azul  0.333674
S  0.410599   Rojo  1.494079
D  0.144044  Verde -0.205158

In [16]:
df['d']=np.arange(10,17)
df

          a      b         c   d
L  1.867558   Azul  1.454274  10
M -0.977278   Rojo  0.761038  11
X  0.950088   Azul  0.121675  12
J -0.151357   Rojo  0.443863  13
V -0.103219   Azul  0.333674  14
S  0.410599   Rojo  1.494079  15
D  0.144044  Verde -0.205158  16

In [17]:
df.dtypes

a    float64
b     object
c    float64
d      int64
dtype: object

In [18]:
df[:3]

          a     b         c   d
L  1.867558  Azul  1.454274  10
M -0.977278  Rojo  0.761038  11
X  0.950088  Azul  0.121675  12

In [19]:
df[-2:]

          a      b         c   d
S  0.410599   Rojo  1.494079  15
D  0.144044  Verde -0.205158  16

In [20]:
df.ix['J':]

          a      b         c   d
J -0.151357   Rojo  0.443863  13
V -0.103219   Azul  0.333674  14
S  0.410599   Rojo  1.494079  15
D  0.144044  Verde -0.205158  16

In [21]:
df.ix[:,-2:]

          c   d
L  1.454274  10
M  0.761038  11
X  0.121675  12
J  0.443863  13
V  0.333674  14
S  1.494079  15
D -0.205158  16

In [22]:
df.ix[-2:,-2:]

          c   d
S  1.494079  15
D -0.205158  16

In [23]:
df.ix['X':'S',:2]

          a     b
X  0.950088  Azul
J -0.151357  Rojo
V -0.103219  Azul
S  0.410599  Rojo

In [24]:
df.ix[['L','J'],['b','d']]

      b   d
L  Azul  10
J  Rojo  13

In [25]:
df.loc[df.b.isin(['Rojo'])]

          a     b         c   d
M -0.977278  Rojo  0.761038  11
J -0.151357  Rojo  0.443863  13
S  0.410599  Rojo  1.494079  15

In [26]:
df.loc[df.b.isin(['Rojo','Verde']) & df.c>-0.5]

          a      b         c   d
L  1.867558   Azul  1.454274  10
M -0.977278   Rojo  0.761038  11
X  0.950088   Azul  0.121675  12
J -0.151357   Rojo  0.443863  13
V -0.103219   Azul  0.333674  14
S  0.410599   Rojo  1.494079  15
D  0.144044  Verde -0.205158  16

In [27]:
df['a'].loc[df.b.isin(['Rojo','Verde']) | (df.c>1)]

L    1.867558
M   -0.977278
J   -0.151357
S    0.410599
D    0.144044
Name: a, dtype: float64

In [28]:
df['a']>0

L     True
M    False
X     True
J    False
V    False
S     True
D     True
Name: a, dtype: bool

In [29]:
df.c[df.a>0]

L    1.454274
X    0.121675
S    1.494079
D   -0.205158
Name: c, dtype: float64

In [30]:
df.index.name='Días'
df.columns=['Valoración','Color','Sesgo','Cantidad']
df

      Valoración  Color     Sesgo  Cantidad
Días
L       1.867558   Azul  1.454274        10
M      -0.977278   Rojo  0.761038        11
X       0.950088   Azul  0.121675        12
J      -0.151357   Rojo  0.443863        13
V      -0.103219   Azul  0.333674        14
S       0.410599   Rojo  1.494079        15
D       0.144044  Verde -0.205158        16

In [31]:
df.stack()

Días
L     Valoración     1.86756
      Color             Azul
      Sesgo          1.45427
      Cantidad            10
M     Valoración   -0.977278
      Color             Rojo
      Sesgo         0.761038
      Cantidad            11
X     Valoración    0.950088
      Color             Azul
      Sesgo         0.121675
      Cantidad            12
J     Valoración   -0.151357
      Color             Rojo
      Sesgo         0.443863
      Cantidad            13
V     Valoración   -0.103219
      Color             Azul
      Sesgo         0.333674
      Cantidad            14
S     Valoración    0.410599
      Color             Rojo
      Sesgo          1.49408
      Cantidad            15
D     Valoración    0.144044
      Color            Verde
      Sesgo        -0.205158
      Cantidad            16
dtype: object

In [34]:
df.reset_index()

  Días  Color  Valoración     Sesgo  Cantidad
0    D  Verde    0.144044 -0.205158        16
1    J   Rojo   -0.151357  0.443863        13
2    L   Azul    1.867558  1.454274        10
3    M   Rojo   -0.977278  0.761038        11
4    S   Rojo    0.410599  1.494079        15
5    V   Azul   -0.103219  0.333674        14
6    X   Azul    0.950088  0.121675        12

In [32]:
df=df.reset_index('Color').set_index(['Días','Color'])
df.sort_index(inplace=True)
df

            Valoración     Sesgo  Cantidad
Días Color
D    Verde    0.144044 -0.205158        16
J    Rojo    -0.151357  0.443863        13
L    Azul     1.867558  1.454274        10
M    Rojo    -0.977278  0.761038        11
S    Rojo     0.410599  1.494079        15
V    Azul    -0.103219  0.333674        14
X    Azul     0.950088  0.121675        12

In [33]:
df.loc(axis=0)[:,'Azul']

            Valoración     Sesgo  Cantidad
Días Color
L    Azul     1.867558  1.454274        10
V    Azul    -0.103219  0.333674        14
X    Azul     0.950088  0.121675        12

In [35]:
df.to_csv('df.csv',sep=';',decimal=',',index=None)

In [36]:
!cat df.csv

Valoración;Sesgo;Cantidad
0,144043571160878;-0,20515826376580087;16
-0,1513572082976979;0,44386323274542566;13
1,8675579901499675;1,454273506962975;10
-0,977277879876411;0,7610377251469934;11
0,41059850193837233;1,4940790731576061;15
-0,10321885179355784;0,33367432737426683;14
0,9500884175255894;0,12167501649282841;12