# Actividad 1 - Análisis de ventas de videojuegos

Descarga el material en https://www.kaggle.com/gregorut/videogamesales



This dataset contains a list of video games with sales greater than 100,000 copies. It was generated by a scrape of vgchartz.com.

Lista de videojuegos con más de 100.000 ventas generada por vgchartz.com.

La descripción de atributos:

        - Rank: Ranking of overall sales
        - Name: The games name
        - Platform: Platform of the games release (i.e. PC,PS4, etc.)
        - Year: Year of the game's release
        - Genre: Genre of the game
        - Publisher: Publisher of the game
        - NA_Sales: Sales in North America (in millions)
        - EU_Sales: Sales in Europe (in millions)
        - JP_Sales: Sales in Japan (in millions)
        - Other_Sales: Sales in the rest of the world (in millions)
        - Global_Sales: Total worldwide sales.


1. Descarga y abre el .csv en data-sets de modo que el Rank sea el índice. Muestra la cabeza del dataframe y también la cola.
2. Calcula la dimensión y los data types, comprueba que son correctos.
3. Cuenta el número de categorías únicas en las columnas con tipo de datos `object`.
4. Haz una descripción de los valores con `describe`. Usa el comando `include=all` para obtener también la descripción de los atributos categóricos.
5. ¿Tiene valores faltantes? Calcula las proporciones de los mismos por columnas. Introduce los valores faltantes como la media en el caso de variables numéricas y  moda en el de categóricas.
6. Cambia el tipo de datos de Year a número entero (`int32`).
7. Crea una columna que represente el porcentaje de ventas en Europa respecto a la global y calcula su media, haz que la columna sólo tenga dos cifras decimales.
8. Extrae las filas del año 1980.
9. Extra las filas del juego 'Wii Sports' (hay variaos nombres diferentes)
10. Extrae las filas correspondientes a los videojuegos con ventas globales superiores a 10 y  entre el año 1990 y 2000 (incluídos)
11. ¿Qué plataforma tiene más ventas globales? ¿Y en cada país? Saca la suma, la media, el máximo y el mínimo del agrupamiento. La tabla debe estar ordenado por la media de las ventas globales. Muestra sólo las 5 de mayores ventas.
12. Los 10 videojuegos de estrategia más populares de 2011 en NA.
13. Crea una tabla pivotal que de los máximos de las ventas globales respecto a plataforma y género. Debe incluir valores marginales. Debe estar ordenada descendientemente respecto al máximo de cada plataforma.
14. Crea una tabla de frecuencias que cuente dentro de cada género y plataforma el número de juegos que entraron en cada bin de la partición por cuartiles de las ventas globales usando 0.1,0.25,0.5,0.75,0.9 y `pd.qcut`
***

Problema avanzado:

**Agrupa respecto a géneros y plataformas hazlo. ¿Qué tres plataformas tienen mayor media de ventas globales en cada género? Haz una tabla que las muestre.**

### SOLUCIÓN:

In [1]:
import pandas as pd
import numpy as np

dat=pd.read_csv('vgsales.csv',index_col='Rank')

print(dat.shape)
dat.head()

(16598, 10)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [2]:
dat.tail()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.0,0.0,0.01
16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.0,0.0,0.01
16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.0,0.0,0.01
16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.0,0.0,0.01
16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.0,0.0,0.01

In [3]:
dat.dtypes

Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

In [4]:
listacat=dat.dtypes=='object'
for k in dat.columns[listacat]:
    print(k, len(dat[k].unique()))

Name 11493
Platform 31
Genre 12
Publisher 579

Hay pocos valores faltantes, sólo en las columnas Year y Publisher.

In [5]:
dat.isnull().sum()/dat.shape[0]*100

Name            0.000000
Platform        0.000000
Year            1.632727
Genre           0.000000
Publisher       0.349440
NA_Sales        0.000000
EU_Sales        0.000000
JP_Sales        0.000000
Other_Sales     0.000000
Global_Sales    0.000000
dtype: float64

In [6]:
dat.describe(include='all')

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598,16598,16327.000000,16598,16540,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
unique,11493,31,NaN,12,578,NaN,NaN,NaN,NaN,NaN
top,Need for Speed: Most Wanted,DS,NaN,Action,Electronic Arts,NaN,NaN,NaN,NaN,NaN
freq,12,2163,NaN,3316,1351,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,2006.406443,NaN,NaN,0.264667,0.146652,0.077782,0.048063,0.537441
std,NaN,NaN,5.828981,NaN,NaN,0.816683,0.505351,0.309291,0.188588,1.555028
min,NaN,NaN,1980.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.010000
25%,NaN,NaN,2003.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.060000
50%,NaN,NaN,2007.000000,NaN,NaN,0.080000,0.020000,0.000000,0.010000,0.170000
75%,NaN,NaN,2010.000000,NaN,NaN,0.240000,0.110000,0.040000,0.040000,0.470000
max,NaN,NaN,2020.000000,NaN,NaN,41.490000,29.020000,10.220000,10.570000,82.740000

In [7]:
sum(dat.Year.mode())

2009.0

In [8]:
dat.fillna({'Publisher':dat.Publisher.mode().sum(),'Year':dat.Year.mode().sum()},inplace=True);
dat.isnull().sum()/dat.shape[0]*100

Name            0.0
Platform        0.0
Year            0.0
Genre           0.0
Publisher       0.0
NA_Sales        0.0
EU_Sales        0.0
JP_Sales        0.0
Other_Sales     0.0
Global_Sales    0.0
dtype: float64

In [9]:
dat.Year=dat.Year.astype(np.int32)
dat.dtypes

Name             object
Platform         object
Year              int32
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

In [10]:
dat['EU_sales_perc']=dat.EU_Sales/dat.Global_Sales*100
dat['EU_sales_perc']=dat['EU_sales_perc'].round(2)
dat.round(2)
dat.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,EU_sales_perc
Rank,,,,,,,,,,,
1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,35.07
2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,8.90
3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,35.96
4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,33.36
5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,28.34

In [11]:
dat.loc[dat.Year==1980]

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,EU_sales_perc
Rank,,,,,,,,,,,
259,Asteroids,2600,1980,Shooter,Atari,4.00,0.26,0.0,0.05,4.31,6.03
545,Missile Command,2600,1980,Shooter,Atari,2.56,0.17,0.0,0.03,2.76,6.16
1768,Kaboom!,2600,1980,Misc,Activision,1.07,0.07,0.0,0.01,1.15,6.09
1971,Defender,2600,1980,Misc,Atari,0.99,0.05,0.0,0.01,1.05,4.76
2671,Boxing,2600,1980,Fighting,Activision,0.72,0.04,0.0,0.01,0.77,5.19
4027,Ice Hockey,2600,1980,Sports,Activision,0.46,0.03,0.0,0.01,0.49,6.12
5368,Freeway,2600,1980,Action,Activision,0.32,0.02,0.0,0.00,0.34,5.88
6319,Bridge,2600,1980,Misc,Activision,0.25,0.02,0.0,0.00,0.27,7.41
6898,Checkers,2600,1980,Misc,Atari,0.22,0.01,0.0,0.00,0.24,4.17

In [12]:
dat.loc[dat.Name.str.contains('Wii Sports')]

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,EU_sales_perc
Rank,,,,,,,,,,,
1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,35.07
4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,33.36
4854,Wii Sports Club,WiiU,2014,Sports,Nintendo,0.19,0.14,0.04,0.03,0.40,35.00

In [13]:
dat.loc[(dat.Year>=1990) &(dat.Year<=2000)&(dat.Global_Sales>10)]

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,EU_sales_perc
Rank,,,,,,,,,,,
5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,28.34
13,Pokemon Gold/Pokemon Silver,GB,1999,Role-Playing,Nintendo,9.00,6.18,7.20,0.71,23.10,26.75
19,Super Mario World,SNES,1990,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61,18.20
31,Pokémon Yellow: Special Pikachu Edition,GB,1998,Role-Playing,Nintendo,5.89,5.04,3.12,0.59,14.64,34.43
47,Super Mario 64,N64,1996,Platform,Nintendo,6.91,2.85,1.91,0.23,11.89,23.97
51,Super Mario Land 2: 6 Golden Coins,GB,1992,Adventure,Nintendo,6.16,2.04,2.69,0.29,11.18,18.25
53,Gran Turismo,PS,1997,Racing,Sony Computer Entertainment,4.02,3.87,2.54,0.52,10.95,35.34
58,Super Mario All-Stars,SNES,1993,Platform,Nintendo,5.99,2.15,2.12,0.29,10.55,20.38

In [14]:
dat.groupby('Platform')[[
        'NA_Sales','EU_Sales',
        'JP_Sales','Other_Sales'
        ,'Global_Sales']].agg(['sum','mean','min','max']).sort_values([('Global_Sales', 'sum')],
                                                                ascending=False).round(2)[:5]

         NA_Sales                   EU_Sales                   JP_Sales        \
              sum  mean  min    max      sum  mean  min    max      sum  mean
Platform
PS2        583.84  0.27  0.0   9.43   339.29  0.16  0.0   5.49   139.20  0.06
X360       601.05  0.48  0.0  14.97   280.58  0.22  0.0   5.31    12.43  0.01
PS3        392.26  0.30  0.0   7.01   343.71  0.26  0.0   9.27    79.99  0.06
Wii        507.71  0.38  0.0  41.49   268.38  0.20  0.0  29.02    69.35  0.05
DS         390.71  0.18  0.0  11.38   194.65  0.09  0.0  11.00   175.57  0.08

                    Other_Sales                   Global_Sales              \
          min   max         sum  mean  min    max          sum  mean   min
Platform
PS2       0.0  3.61      193.44  0.09  0.0  10.57      1255.64  0.58  0.01
X360      0.0  0.24       85.54  0.07  0.0   1.67       979.96  0.77  0.01
PS3       0.0  1.87      141.93  0.11  0.0   4.14       957.84  0.72  0.01
Wii       0.0  4.70       80.61  0.06  0.0   8.46       926.71  0.70  0.01
DS        0.0  6.50       60.53  0.03  0.0   2.90       822.49  0.38  0.01


            max
Platform
PS2       20.81
X360      21.82
PS3       21.40
Wii       82.74
DS        30.01

In [15]:
dat.loc[(dat.Year==2011)&(dat.Genre=='Strategy')].sort_values('NA_Sales',ascending=False).Name[:10]

Rank
1208                                 LEGO Battles: Ninjago
1716                                    Plants vs. Zombies
4926                        Combat of Giants: Dinosaurs 3D
5399                 Tom Clancy's Ghost Recon: Shadow Wars
3400                                   Total War: Shogun 2
7821                                    Plants vs. Zombies
6343                                             Tropico 4
7375     Yu-Gi-Oh! 5D's World Championship 2011: Over t...
10535                         Dora & Kai-Lan's Pet Shelter
10841                                             Dungeons
Name: Name, dtype: object

In [35]:
dat.pivot_table('Global_Sales',
                index='Platform', columns='Genre', dropna=True,
                aggfunc='max',margins=True).sort_values('All',ascending=False)

Genre,Action,Adventure,Fighting,Misc,Platform,Puzzle,Racing,Role-Playing,Shooter,Simulation,Sports,Strategy,All
Platform,,,,,,,,,,,,,
All,21.40,11.18,13.04,29.02,40.24,30.26,35.82,31.37,28.31,24.76,82.74,5.45,82.74
Wii,7.31,1.38,13.04,29.02,28.62,2.92,35.82,2.25,5.00,4.68,82.74,0.66,82.74
NES,6.51,4.38,3.02,2.14,40.24,5.58,4.16,3.87,28.31,NaN,4.01,NaN,40.24
GB,3.83,11.18,NaN,5.31,18.14,30.26,3.41,31.37,1.20,1.45,2.12,3.70,31.37
DS,11.90,3.16,0.74,20.22,30.01,15.30,23.42,18.36,1.06,24.76,5.14,1.55,30.01
X360,16.38,5.55,2.95,21.82,1.42,0.32,5.51,8.84,14.76,2.33,6.24,2.63,21.82
PS3,21.40,4.83,4.19,5.42,5.92,0.42,10.77,6.56,14.03,2.06,6.90,0.79,21.40
PS2,20.81,2.25,4.05,5.12,5.42,2.08,14.98,8.05,6.83,3.17,5.23,0.95,20.81
SNES,4.61,0.81,6.30,2.75,20.61,1.70,8.76,3.42,2.99,1.98,1.39,0.62,20.61
GBA,2.82,2.39,1.08,4.24,5.49,2.94,5.47,15.85,0.46,1.33,1.18,2.07,15.85
3DS,4.58,0.92,7.45,1.85,10.79,1.78,12.21,14.35,0.94,9.09,1.19,0.39,14.35
PS4,11.98,1.64,2.70,4.02,1.86,0.02,2.39,6.96,14.24,0.35,8.49,0.20,14.24
N64,7.60,0.17,5.55,2.70,11.89,1.04,9.87,1.38,8.09,3.63,2.32,5.45,11.89
PS,6.27,3.34,7.16,4.05,7.58,2.40,10.95,9.72,3.21,1.83,5.02,5.01,10.95
XB,3.02,0.71,1.77,1.21,1.23,0.20,2.28,2.86,8.49,1.13,1.86,0.73,8.49
PC,2.30,2.81,0.13,2.99,0.11,0.24,0.38,6.28,4.12,8.11,1.51,4.83,8.11
2600,2.20,1.30,0.77,1.15,4.50,7.81,1.18,NaN,4.31,0.45,0.55,NaN,7.81
PSP,7.72,0.96,2.63,1.09,4.22,1.11,3.66,5.50,2.65,1.38,1.96,0.88,7.72
XOne,5.08,1.30,1.35,2.41,0.34,NaN,2.18,4.09,7.30,0.34,3.23,0.20,7.30
GC,4.60,1.87,7.07,2.47,6.31,1.52,6.95,2.54,2.82,3.15,1.61,1.63,7.07
WiiU,1.77,0.09,5.02,4.44,5.19,1.19,6.96,0.84,4.57,0.21,0.89,1.11,6.96
GEN,2.60,0.12,2.67,0.03,6.03,NaN,0.26,0.14,0.13,NaN,2.05,0.19,6.03
DC,1.14,1.18,0.37,NaN,2.42,NaN,1.81,0.20,0.26,0.52,1.20,NaN,2.42
PSV,1.69,0.75,0.76,2.25,1.47,0.14,1.16,1.38,1.74,0.03,0.84,0.12,2.25
SAT,0.41,0.55,1.93,0.19,0.43,0.60,1.16,0.42,0.62,0.38,0.49,0.55,1.93
SCD,NaN,NaN,NaN,0.05,1.50,NaN,0.07,0.06,NaN,NaN,NaN,0.14,1.50
WS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.51,NaN,NaN,NaN,0.17,0.51
NG,NaN,NaN,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.02,NaN,0.25
TG16,NaN,0.14,NaN,NaN,NaN,NaN,NaN,NaN,0.02,NaN,NaN,NaN,0.14
3DO,NaN,0.06,NaN,NaN,NaN,0.02,NaN,NaN,NaN,0.02,NaN,NaN,0.06
GG,NaN,NaN,NaN,NaN,0.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.04
PCFX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.03,NaN,NaN,NaN,NaN,0.03

In [28]:
pd.crosstab([dat.Platform,dat.Genre], pd.qcut(dat.Global_Sales,[0.1,0.25,0.5,0.75,0.9]), margins=True)

Global_Sales           [0.02, 0.06]  (0.06, 0.17]  (0.17, 0.47]  (0.47, 1.21]  \
Platform Genre
2600     Action                   0             5            37            16
         Adventure                0             0             1             0
         Fighting                 0             0             1             1
         Misc                     0             0             2             3
         Platform                 0             0             0             5
         Puzzle                   0             1             4             3
         Racing                   0             0             4             2
         Role-Playing             0             0             0             0
         Shooter                  0             0             6            11
         Simulation               0             0             1             0
         Sports                   0             4             4             4
         Strategy                 0             0             0             0
3DO      Action                   0             0             0             0
         Adventure                1             0             0             0
         Fighting                 0             0             0             0
         Misc                     0             0             0             0
         Platform                 0             0             0             0
         Puzzle                   1             0             0             0
         Racing                   0             0             0             0
         Role-Playing             0             0             0             0
         Shooter                  0             0             0             0
         Simulation               1             0             0             0
         Sports                   0             0             0             0
         Strategy                 0             0             0             0
3DS      Action                  51            51            39            20
         Adventure               15            12             5             2
         Fighting                 2             5             4             0
         Misc                    15            19            12             5
         Platform                 5             8             5             4
         Puzzle                   3             9             3             2
...                             ...           ...           ...           ...
X360     Role-Playing             7            13            21            19
         Shooter                 25            29            51            41
         Simulation               4            15            13             5
         Sports                  27            44            55            59
         Strategy                 3             7            13             3
XB       Action                  29            57            37            19
         Adventure                9            11             3             1
         Fighting                12            16             9            10
         Misc                    10            19            12             5
         Platform                10            25             6             6
         Puzzle                   3             1             1             0
         Racing                  35            40            28            10
         Role-Playing             6             3             8             2
         Shooter                 29            30            33            30
         Simulation               6             5             9             4
         Sports                  31            40            54            38
         Strategy                 9             9             2             1
XOne     Action                  16            12            17            10
         Adventure                3             5             0             1
         Fighting                 2             1             3             0
         Misc                     0             3             7             3
         Platform                 0             1             2             0
         Puzzle                   0             0             0             0
         Racing                   4             3             4             3
         Role-Playing             2             2             4             2
         Shooter                  2             5             3             9
         Simulation               0             0             2             0
         Sports                   6             7             6             8
         Strategy                 1             1             1             0
All                            3736          4038          4060          2495

Global_Sales             All
Platform Genre
2600     Action           58
         Adventure         1
         Fighting          2
         Misc              5
         Platform          5
         Puzzle            8
         Racing            6
         Role-Playing      0
         Shooter          17
         Simulation        1
         Sports           12
         Strategy          0
3DO      Action            0
         Adventure         1
         Fighting          0
         Misc              0
         Platform          0
         Puzzle            1
         Racing            0
         Role-Playing      0
         Shooter           0
         Simulation        1
         Sports            0
         Strategy          0
3DS      Action          161
         Adventure        34
         Fighting         11
         Misc             51
         Platform         22
         Puzzle           17
...                      ...
X360     Role-Playing     60
         Shooter         146
         Simulation       37
         Sports          185
         Strategy         26
XB       Action          142
         Adventure        24
         Fighting         47
         Misc             46
         Platform         47
         Puzzle            5
         Racing          113
         Role-Playing     19
         Shooter         122
         Simulation       24
         Sports          163
         Strategy         21
XOne     Action           55
         Adventure         9
         Fighting          6
         Misc             13
         Platform          3
         Puzzle            0
         Racing           14
         Role-Playing     10
         Shooter          19
         Simulation        2
         Sports           27
         Strategy          3
All                    14329

[373 rows x 5 columns]

In [16]:
s=pd.DataFrame(dat.sort_values('Global_Sales').groupby(['Genre','Platform'])['Global_Sales'].sum())
s[:4]

                 Global_Sales
Genre  Platform
Action 2600             29.34
       3DS              57.02
       DC                1.26
       DS              115.56

In [17]:
s.head()

                 Global_Sales
Genre  Platform
Action 2600             29.34
       3DS              57.02
       DC                1.26
       DS              115.56
       GB                7.92

In [18]:
#ordenamos 
s=s.reset_index().sort_values(['Genre','Global_Sales'],ascending=False).set_index(['Genre','Platform'])
s

                    Global_Sales
Genre     Platform
Strategy  PC               45.88
          PS               21.67
          DS               15.39
          PS2              15.15
          PSP              10.62
          N64              10.33
          X360             10.13
          GB                8.05
          GBA               7.45
          Wii               5.23
          SNES              4.98
          PS3               4.94
          GC                4.32
          SAT               3.24
          XB                2.78
          3DS               2.09
          WiiU              1.24
          PS4               0.41
          XOne              0.38
          PSV               0.31
          WS                0.20
          GEN               0.19
          SCD               0.14
Sports    Wii             292.06
          PS2             273.41
          X360            139.12
          PS3             135.56
          PS              120.97
          XB               54.27
          PS4              50.07
...                          ...
Adventure SNES              1.50
          N64               0.45
          GEN               0.19
          WiiU              0.17
          TG16              0.14
          3DO               0.06
Action    PS3             307.88
          PS2             272.76
          X360            242.67
          PS              127.05
          Wii             118.58
          DS              115.56
          PS4              87.06
          PSP              64.72
          3DS              57.02
          GBA              55.76
          XB               49.28
          GC               37.84
          XOne             33.79
          PC               31.53
          N64              29.58
          2600             29.34
          NES              28.75
          PSV              20.01
          WiiU             19.35
          SNES             10.08
          GB                7.92
          GEN               2.74
          DC                1.26
          SAT               0.65

[293 rows x 1 columns]

In [19]:
a=np.array(s.index.labels[0])
b=np.array(s.index.labels[1])        

cambios=np.where(np.diff(a)!=0)[0]+1    
cambios=np.hstack([0,cambios])
cambios

lista=[]
for k in cambios:
    for c in range(3):
        lista+=[(s.index.levels[0][s.index.labels[0][k+c]],s.index.levels[1][s.index.labels[1][k+c]])]
    
lista[:7]

[('Strategy', 'PC'),
 ('Strategy', 'PS'),
 ('Strategy', 'DS'),
 ('Sports', 'Wii'),
 ('Sports', 'PS2'),
 ('Sports', 'X360'),
 ('Simulation', 'DS')]

In [20]:
s.ix[lista]

                       Global_Sales
Genre        Platform
Strategy     PC               45.88
             PS               21.67
             DS               15.39
Sports       Wii             292.06
             PS2             273.41
             X360            139.12
Simulation   DS              132.03
             PC               51.91
             PS2              42.66
Shooter      X360            278.55
             PS3             196.04
             PS2             108.57
Role-Playing DS              126.85
             PS2              93.50
             GB               88.24
Racing       PS2             156.28
             PS              103.19
             PS3              73.95
Puzzle       DS               84.29
             GB               47.47
             NES              21.00
Platform     NES              95.78
             Wii              90.74
             GBA              78.30
Misc         Wii             221.06
             DS              137.76
             PS2             101.14
Fighting     PS2              92.60
             PS               72.68
             PS3              51.70
Adventure    DS               47.29
             PS3              22.90
             PS2              21.16
Action       PS3             307.88
             PS2             272.76
             X360            242.67